/* 초기화면용 CSS(main.html) */

/* body 전체에 배경색 */
body {
    background-color: #008b8b;
}

/* 출력될 div태그 css */
#mainBox {
    width: 400px;
    height: 75px;
    background-color: #008b8b;
    margin: 0 auto;
    max-width: 450px;
    position: absolute;
    width: 100%;
    padding: 10px;

    /* 전체 높이 위에서부터 절반 */
    top: 50%;

    /* 전체 넓이 왼쪽에서부터 절반 */
    left: 50%;

    /* 해당 요소의 높이, 넓이의 절반만큼 돌아가기 */
    transform: translate(-50%, -50%);

    /* 폰트 컬러 */
    color: #008b8b;
    font-size: xx-large;
    text-align: center;
    line-height: 75px;

    border-radius: 25px;

    /* 애니메이션 효과 */
    /* transition-property: background-color, color, width;
    transition-duration: 3s, 3s, 3s; */

    /* 2025-02-28 추가 */
    /* 애니메이션이 작동하지 않던 이유 */
    /* transition속성은 가상 클래스가 있을 경우에만 동작하는데 그걸 선언 하지 않았음. 단순히 페이지가 로드됐을 때는 작동하지 않고, css 파일을 저장할 때만 작동하던 이유 */
    /* 즉, transition속성이 아니라  animation 속성을 사용하는게 맞았음. */

    animation: test 3s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
}

@keyframes test {

    0% {
        color: #ffffff;
        background-color: #008000;

    }

    25% {

        color: #ffffff;
        background-color: #008000;

    }

    50% {

        color: #ffffff;
        background-color: #008000;

    }

    100% {

        color: #ffffff;
        background-color: #008000;

    }

}