#join_form {
width: 400px;
margin: 0 auto;
}

.join_div_p {
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
}

.join_div {
    align-items: center;
    width: 400px;
    height: 400px;
    background-color: #8a2be2;
    border: solid 1px #aaaaaa;
    border-radius: 15px;
    box-shadow: 6px 6px 5px #888888;
    text-align: center;
}

#EmaliAdress, #Password, #Conform_EmaliAdress {
    border-radius: 5px;
    width: 250px;
    padding: 7px;
    margin: 15px;
}

.join_button {
    border-radius: 5px;
    width: 250px;
    padding: 7px;
    margin: 15px;
}

a:link {
    border: 1px solid #808080;
    text-decoration: none;
}

a:link:hover {
    background-color: #808080;
}