/* 회원가입용 CSS(p_250218_1.html) */
/* 겹쳐도 상관없는 id나 클래스 값을 제외하고는 중복되지 않게 설정할 것 */

/* 폼태그의 사이즈 */
#join_form {
    width: 450px;
    margin: 0 auto;
    max-width: 450px;
    position: absolute;
    width: 100%;
    padding: 10px;
    top: 50%;
    /* 전체 높이 위에서부터 절반 */
    left: 50%;
    /* 전체 넓이 왼쪽에서부터 절반 */
    transform: translate(-50%, -50%);
    /* 해당 요소의 높이, 넓이의 절반만큼 돌아가기 */
}

/* 전체 div영역 */
.join_div {
    align-items: center;
    width: 450px;
    height: 400px;
    background-color: #160131;
    border: solid 1px #aaaaaa;
    border-radius: 15px;
    box-shadow: 6px 6px 5px #888888;
    text-align: center;
}

/* 링크 이동용 버튼 그룹 */
 #btn_group button {
    border: 1px solid  #8a2be2;
    background-color: #404744;
    color: #ffffff;
    padding: 5px;
}

/* #btn_group button:hover {
    color: white;
    background-color: #7202aa;
} */

/* 2025/02/20 추가*/
/* 회원가입 화면일때만 회원가입 버튼 색 진하게 처리*/
 #join_form #btn_group #btn_join {
    color: white;
    background-color: #8a2be2;
} 

/* 회원가입 버튼 */
#btn_join {
    font-size: medium;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right: -4px;
    margin-top: 20px;
    width: 200px;
}

/* 로그인 버튼 */
#btn_login {
    font-size: medium;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: -3px;
    margin-top: 20px;
    width: 200px;
}

/* 화면에 보여지는 p태그 */
.join_div_p {
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
}

/* 입력 영역 크기 조정 */
#emailAdress, #pwd, #confirm_pwd {
    border-radius: 5px;
    width: 350px;
    padding: 7px;
    margin: 15px;
}

/* JOIN버튼 크기 조정 */
.join_button {
    border-radius: 5px;
    width: 345px;
    padding: 7px;
    margin: 15px;
    background-color: #7202aa;
    
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* 로그인용 CSS(p_250218_1-1.html) */
#login_form {
    width: 450px;
    margin: 0 auto;
    max-width: 450px;
    position: absolute;
    width: 100%;
    padding: 10px;
    top: 50%;
    /* 전체 높이 위에서부터 절반 */
    left: 50%;
    /* 전체 넓이 왼쪽에서부터 절반 */
    transform: translate(-50%, -50%);
    /* 해당 요소의 높이, 넓이의 절반만큼 돌아가기 */
}

/* 전체 div영역 */
.login_div {
    align-items: center;
    width: 450px;
    height: 400px;
    background-color: #160131;
    border: solid 1px #aaaaaa;
    border-radius: 15px;
    box-shadow: 6px 6px 5px #888888;
    text-align: center;
}

/* 링크 이동용 버튼 그룹 */
 #btn_group button {
    border: 1px solid  #8a2be2;
    background-color: #404744;
    color: #ffffff;
    padding: 5px;
}

/* #btn_group button:hover {
    color: white;
    background-color: #7202aa;
} */

/* 2025/02/20 추가*/
/* 로그인 화면일때만 로그인 버튼 색 진하게 처리*/
#login_form #btn_group #btn_login {
    color: white;
    background-color: #8a2be2;
} 


/* 회원가입 버튼 */
#btn_join {
    font-size: medium;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right: -4px;
    margin-top: 20px;
    width: 200px;
}

/* 로그인 버튼 */
#btn_login {
    font-size: medium;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: -3px;
    margin-top: 20px;
    width: 200px;
}

/* 화면에 보여지는 p태그 */
.login_div_p {
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
}

/* 입력 영역 크기 조정 */
#login_emaliadress, #login_pwd {
    border-radius: 5px;
    width: 350px;
    padding: 7px;
    margin: 15px;
}

/* 로그인 버튼 크기 조정 */
.login_button {
    border-radius: 5px;
    width: 345px;
    padding: 7px;
    margin: 15px;
    background-color: #7202aa;
}