/* headdr.html css */
.headderContainer {
    width: 1140px;
    margin: 0 auto;
}

header {
    position: absolute;
    /* position: fixed; */
    color: #ffffff;
    top: 0;
    z-index: 1;
    width: 100%;
    padding: 1rem;
}

header .headderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header nav ul {
    display: flex;
}

header nav ul li {
    padding: 10px;
}


/* 다른 페이지에서 헤더 영역 색상이 제대로 보이지 않아서 색상 변경 */
header button {
    background: transparent;
    border: 0;
    cursor: pointer;
    color: #adff2f;;
}

header h1 button {
    font-size: 2rem;
    font-weight: bold;
}

header nav ul li button {
    color: #adff2f;
    font-size: 1.2rem;
}